
.reveal table th, .reveal table td {
  text-align: center;
}

.reveal {
	font-family: "ＭＳ Ｐゴシック","MS PMincho", "Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 45px;
}

.reveal section img {
	background: none;
	border: none;
	box-shadow: none;
}
